header .intro-text {
    padding-top: 120px;
    padding-bottom: 10px;
}

.titre-section {
    color:black;
}

th{
    text-align: center;
    color: black;
}

tr {
    color:black;
}

td {
    color:black;
    text-align: center;

}

.table_container{
    background-color: white;
}

a {
    color: black;
}
