header {
    background-color: #2D3E50;;
    color: white;
}

header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 10px;
}

header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 10px;
}

header .intro-text .infos {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
}

table {
    border: 1px solid transparent;
    border-collapse: collapse;
    color: black;
    font-size: 24px;
    margin-left: 350px;
    margin-right: auto;
    width: 52.5%;
}

table.directorsAndWriters {
    border: 1px solid transparent;
    border-collapse: collapse;
    width: 100%;
    color: black;
    font-size: 24px;
    margin-left: 470px;

}



th {
    display: none;
}

.center {
    margin: auto;
}

td {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
}

td:first-child {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0;
}

td.col1 {
    width: 5em;
}

td.col2 {
    width: 5em;
}

.details-member {
    text-align: center;
    margin-bottom: 50px;
}

.details-member h4 {
    margin-top: 15px;
    margin-bottom: 0;
    text-transform: none;
}

#div_1 {
    width: 200px;
    height: 200px;
    background-color: transparent;
    position: relative;
    left: 50%;
    margin-left: -200px;
    float: left;
    clear: none;
}

#div_2 {
    width: 200px;
    height: 200px;
    background-color: transparent;
    position: relative;
    right: 50%;
    margin-right: -200px;
    float: right;
    clear: none;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #fec503;
}

/* selected link */
a:active {
    color: #fec503;
}

.nav-pills a{
    color: black !important;
}

