header {
    background-color: #2D3E50;;
    color: white;
}

header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 10px;
}

header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 10px;
}

table {

    color: black;
    font-size: 24px;
    margin-left: 350px;
    margin-right: auto;
    width: 52.5%;
}

th {
    display: none;
}

td {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
}

td:first-child {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0;
}

